/* ===== FILTRO ===== */

.filtros-partidos {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.filtros-partidos label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.filtros-partidos select,
.filtros-partidos input,
.filtros-partidos button {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-weight: normal;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-cuaternario);
}

.filtros-partidos button {
    background-color: var(--color-primario);
    color: var(--color-letras-secundario);
    font-size: 1.1rem;
    font-weight: bolder;
    width: 100%;
    border: none;
    cursor: pointer;
}

/* ===== LISTA DE PARTIDOS ===== */

.lista-partidos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.2rem;
    padding: 2rem;
}

/* ===================================================
   RESPONSIVE
======================================================
*/

/* ===================================================
   TABLET (>= 768px)
====================================================== */

@media (min-width: 768px) {

    .filtros-partidos {
        padding: 0 2rem;
        gap: 2rem;
    }

    .lista-partidos {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

/* ===================================================
   DESKTOP (>= 1024px)
====================================================== */

@media (min-width: 1024px) {

    .filtros-partidos {
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
        padding: 0 4rem;
    }

    .filtros-partidos button {
        width: 50%;
        margin: 0 auto;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }

    .filtros-partidos button:hover{
        background-color: var(--color-letras-secundario);
        color: var(--color-primario);
        border: 1px solid var(--color-primario);

    }

    .lista-partidos {
        grid-template-columns: repeat(3, 1fr);
    }
}
