<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}
    
    <main>Funciona</main>


    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>
</html>