/* ===== PARTIDOS ===== */
.partido-card{
    padding: 1.5rem;
    width: 100%;
    background-color: var(--color-blanco);
    border-radius: 1rem;
    /* min-width: 18.75rem; */
    max-width: 30rem; /* Maximo */
    font-family: var(--fuente-primaria);
    box-shadow: var(--sombra-suave);
    transition: transform 0.3s ease;
}

.partido-card a{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.partido-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partido-header time {
    font-size: 0.85rem;
    font-weight: bolder;
    color: var(--color-letras-terceario);
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

.barra-estado{
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--color-letras-secundario);
}

.barra-estado.en_juego{
    background-color: var(--color-error);
    box-shadow: 0 0 5px rgba(239, 68, 68, 0.5);
}

.barra-estado.programado{
    background-color: var(--color-stay);
}

.barra-estado.finalizado{
    background-color: var(--color-primario);
}

.partido-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    flex: 1;
}

.equipo-nombre{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-letras-primario);
    text-align: center;
}

.logo-equipo {
    width: 3.75rem;
    height: 4.375rem;
}

.vs {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color-letras-cuaternario);
    margin: 0 1rem;
}

.partido-footer{
    text-align: center;
    border-top: 1px solid transparent;
}

.partido-footer{
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-letras-cuaternario);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
}

/* ===================================================
   RESPONSIVE
======================================================
*/

/* ===================================================
   TABLET (>= 768px)
====================================================== */

/* ===================================================
   DESKTOP (>= 1024px)
====================================================== */

@media (min-width: 1024px) {
    .partido-card:hover{
        transform: translateY(-4px);
    }
}
