<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/" />
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}

    <main>
        <!-- Header del Main 
        <header class="header-equipos">
            <h1>CARGA DE EQUIPO</h1>
        </header>  -->
        
        
        
        
    </main>

    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>
</html>
