<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/liga.css" />
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}

    <main>
        <!-- Header del Main 
        <header class="header-equipos">
            <h1>CARGA DE EQUIPO</h1>
        </header>  -->
        
        <section class="section-carga">
            <h1>Carga de Equipo</h1>
            <form method="POST" enctype="multipart/form-data" class="carga-form" action="">

                <label for="equipo">Nombre del equipo</label>
                <input id="equipo" name="equipo" required>
                
                <label for="fecha-creacion">Fecha de Creación</label>
                <input type="date" id="fecha-creacion" name="fecha" required>
                   
                <label for="imagen-drop-input" id="imagen-drop">
                    Escudo (Imagen)
                    <input type="file" id="imagen-drop-input" name="imagen" accept=".jpg, .png">
                </label>

                <label for="estadio">Nombre estadio</label>
                <input id="estadio" name="equipo" required>

                <label for="descripcion">Descripcion</label>
                <textarea id="descripcion" name="descripcion" rows="4" required></textarea>

                <button type="submit">Enviar</button>
            </form>
        </section>
        
        
    </main>

    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>
</html>
