<!DOCTYPE html>
<html lang="es">

<head>
  {% include 'parts/head.view.twig' %}
  <script src="/assets/js/components/paw.js"></script>
  <script src="/assets/js/appCrearTorneo.js"></script> 
  <link rel="stylesheet" href="/assets/styles/creartorneo.css">
</head>

<body>
  <!--HEADER-->
  {% include 'parts/header.view.twig' %}

  <main>
    <header class="torneo-header">
      <h1>Creación de Torneo</h1>
    </header>

    <section class="creacion-torneo">
      <form method="POST" action="" class="crear-form">
        <label for="nombre-torneo">Nombre del Torneo</label>
        <input type="text" id="nombre-torneo" name="nombre_torneo" required>

        <label for="fechaInicio">Fecha Inicio</label>
        <input type="date" id="fechaInicio" name="fechaInicio" required>

        <label for="fechaFin">Fecha Fin</label>
        <input type="date" id="fechaFin" name="fechaFin" required>

        <button type="submit">Crear Torneo</button>
      </form>

    </section>
  </main>

  <!--FOOTER-->
  {% include 'parts/footer.view.twig' %}
</body>

</html>