<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/liga.css" />
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}

   <main>
    <section class="section-carga">
        <h1>TORNEO CREADO</h1>
        
     
        
    </section>
</main>


    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>
</html>
