.footer{
    background-color: var(--color-principal);
}

.navegation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerContenedorImagen{
    padding: 1rem 2rem;
}

.footerContenedorImagen img {
    width: 8rem;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--color-secundario);
    padding: 0 1rem;
}

.contacto ul li{
    padding: 1rem 0;
}

.contacto ul li a{
    color: var(--color-letras-blanco);
    text-decoration: none;
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contacto ul li a:hover{
    color: var(--color-letras);
    transition: all 0.5s ease-in-out;
}

#copyright{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#copyright em{
    color: var(--color-letras-blanco);
    padding: 0.5rem;
    font-weight: normal;
}

/*Redes */

footer nav ul.redes {
  display: flex;
  justify-content: right;
}

/* Redes */
footer nav ul.redes li {
   margin: 0.5rem 1rem 0.5rem 1rem;
}
  
footer nav ul.redes li img {
   width: 2rem;
}