/** Estilos para sitio de la liga */
@import url(reset.css);
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*/

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url("../font/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

:root {
    /*Colores a utilizar*/
    --color-principal: #1C99D2;
    --color-secundario: #fff;
    --color-terciario: #2765d4;

    /*Letras*/
    --color-letras: #000;
    --color-letras-blanco: #fff;
    

    /*Fuentes*/
    font-family: "Montserrat", sans-serif;
    font-size: 16px;

}