.header-noticias {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 3rem 0;
    font-size: 2em;
}

.noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    align-items: start;
    padding: 2rem; 
    max-width: 1200px;
    margin: 0 auto;
}

.noticia {
    position: relative;

    background-size: cover;
    background-position: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
}

.noticia h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.noticia p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.5;
}

.noticia * {
    position: relative;
    z-index: 1;
}
.noticia-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.noticia-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
