<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'parts/head.view.twig' %}
</head>
<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}
    <header>Funciona</header>
</body>
</html>