<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'parts/head.view.twig' %}
    <link rel="stylesheet" href="/assets/styles/global.css" />
</head>

<body>
    <!--HEADER-->
    {% include 'parts/header.view.twig' %}
    <h1 class="titulo-promociones">Pagina no encontrada</h1>
    <!--FOOTER-->
    {% include 'parts/footer.view.twig' %}
</body>

</html>
