.tabla-responsive {
    width: 100%;
    overflow-x: auto; /* Scroll horizontal */
    -webkit-overflow-scrolling: touch;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.tabla-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.tabla-scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.informacion-torneo-tabla {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}

.informacion-torneo-tabla article {
    background: var(--color-blanco);
    border-radius: 12px;
    padding: 1rem 1.25rem;
}

.informacion-torneo-tabla article h3 {
    font-size: 1.1rem;
    font-weight: bolder;
    padding-bottom: 0.5rem;
    text-align: left;
}

.informacion-torneo-tabla article ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.5rem 0;
}

.informacion-torneo-tabla article ul li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: var(--color-letras-primario);
    font-size: 0.95rem;
}

/* Iconos */
.check-icon {
    font-size: 0.9rem;
    color: var(--color-blanco);
    background-color: var(--color-primario);
    border-radius: 50%;
}

.clasificado::before {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-success);
    border-radius: 50%;
}

/* ===================================================
   RESPONSIVE
======================================================
*/

/* ===================================================
   TABLET (>= 768px)
====================================================== */

@media (min-width: 768px) {

    .informacion-torneo-tabla {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        width: 90%;
    }

    .informacion-torneo-tabla article h3 {
        font-size: 1.2rem;
    }

    .informacion-torneo-tabla article ul li {
        font-size: 1rem;
    }
}

/* ===================================================
   DESKTOP (>= 1024px)
====================================================== */

@media (min-width: 1024px) {

    .informacion-torneo-tabla {
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }

    .clasificado::before {
        width: 1rem;
        height: 1rem;
    }
}
