/* ===== TORNEO MAIN ===== */
.torneo-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
}

/* ===== INFORMACION TORNEO ===== */
.informacion-torneo {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;

    background-color: var(--color-blanco);
    border-radius: 0.75rem;
    border-left: 8px solid var(--color-primario);
    border-bottom: 5px solid transparent;
    box-shadow: var(--sombra-ultra-suave);
}

.informacion-torneo article {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.informacion-torneo article h4 {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-letras-cuaternario);
    padding-bottom: 0.3rem;
}

.informacion-torneo article p {
    font-size: 1rem;
    font-weight: bolder;
}

/* Estado */
.barra-status {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.status-activo::before,
.status-finalizado::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 9999px;
}

.status-activo::before {
    background-color: var(--color-success);
}

.status-finalizado::before {
    background-color: var(--color-error);
}

/* ===== TABLA DE POSICIONES ===== */

.tabla-posiciones-torneo {
    width: 100%;
}

.tabla-posiciones-torneo .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.tabla-posiciones-torneo h2 {
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icon {
    font-size: 1.5rem;
    color: var(--color-primario);
}

.tabla-posiciones-torneo .tabla-completa {
    font-size: 1rem;
    color: var(--color-links);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.tabla-posiciones {
    width: 100%;
}

/* ===== SOBRE TORNEO ===== */

.sobre-torneo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--color-blanco);
    border-radius: 1rem;
}

.sobre-torneo h3 {
    font-size: 1.4rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid var(--color-secundario);
    text-align: left;
}

.sobre-torneo p {
    font-size: 0.95rem;
    line-height: 1.3rem;
    color: var(--color-letras-terceario);
}

/* ===== PARTIDOS TORNEO ===== */

.partidos-torneo {
    width: 100%;
}

.partidos-torneo .data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
}

.partidos-torneo h2 {
    font-size: 1.4rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.partidos-torneo .fixture-completo {
    font-size: 1rem;
    color: var(--color-links);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.lista-partidos-torneo {
    display: grid;
    grid-template-columns: 1fr; /* Mobile: 1 columna */
    justify-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.btn-carga-quipos, 
.btn-programar {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2rem;
    margin: 0 0; 
    background-color: var(--color-blanco);
    color: var(--color-letras-primario);
    border: 1px solid var(--color-inputs);
    border-radius: 10px;
    
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap; 
    transition: all 0.3s ease;
    box-shadow: var(--sombra-ultra-suave);
    width: fit-content;
    cursor: pointer; 
}

.btn-carga-quipos:hover,
.btn-programar:hover {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    border-color: var(--color-primario);
    transform: translateY(-3px);
    box-shadow: var(--sombra-suave);
}

.btn-programar {
    margin: 2rem auto; 
}

@media (min-width: 1024px) {
    .btn-programar {
        grid-column: 1 / -1; 
        grid-row-start: 6;   
        margin: 3rem auto;
        width: fit-content;
        display: flex;
    }
}
/* ===================================================
   RESPONSIVE
======================================================
*/

/* ===================================================
   TABLET (>= 768px)
====================================================== */

@media (min-width: 768px) {

    .lista-partidos-torneo {
        grid-template-columns: repeat(2, 1fr);
    }

    .informacion-torneo {
        flex-direction: row;
        justify-content: space-around;
    }

    .tabla-posiciones-torneo h2,
    .partidos-torneo h2 {
        font-size: 1.6rem;
    }

    .tabla-posiciones-torneo .data, .partidos-torneo .data {
        flex-direction: row;
        gap: 0;
    }
}


/* ===================================================
   DESKTOP (>= 1024px)
====================================================== */

@media (min-width: 1024px) {

    .torneo-main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
        margin: 0 10rem;
    }

    .informacion-torneo {
        grid-column: span 5;
        flex-direction: row;
        justify-content: space-around;
    }

    .tabla-posiciones-torneo {
        grid-column: span 4;
        grid-row: span 2;
        grid-row-start: 2;
    }

    .sobre-torneo {
        grid-column-start: 5;
        grid-row-start: 2;
    }

    .partidos-torneo {
        grid-column: span 5;
        grid-row: span 2;
        grid-row-start: 4;
    }

    .lista-partidos-torneo {
        grid-template-columns: repeat(3, 1fr);
    }

    .tabla-posiciones-torneo .tabla-completa,
    .partidos-torneo .fixture-completo{
        transition: font-size 0.3s, border-bottom 0.3s
    }

    .tabla-posiciones-torneo .tabla-completa:hover,
    .partidos-torneo .fixture-completo:hover {
        font-size: 1.1rem;
        border-bottom: 1px solid var(--color-links);
    }
}
