<footer class="footer">
    <div class="navegation">
        <p class="footerContenedorImagen"><img src="../assets/logo_200x200_positivo.png" alt="Logo Liga Chivilcoyana de Futbol"></p>
        <nav class="contacto">
            <ul>
                <li><a href="./contacto">Contacto</a></li>
            </ul>
            <ul>
                <li><a href="./sobre-nosotros">Sobre Nosotros</a></li>
            </ul>
            <ul>
                <li><a href="https://www.instagram.com/ligachivilcoyanaoficial">Instagram</a></li>
            </ul>
        </nav>
    </div>

     <nav>
    <ul class="redes">
      <li id="youtube">
        <a href="#" rel="external" target="_blank"><img src="/assets/youtube.png" alt="Youtube" width="50" /></a>
      </li>
      <li id="facebook">
        <a href="#" rel="external" target="_blank"><img src="/assets/facebook.png" alt="Facebook" id="facebook" width="50" /></a>
      </li>
      <li id="x">
        <a href="#" rel="external" target="_blank"><img src="/assets/x.png" alt="X" width="50" /></a>
      </li>
      <li id="instagram">
        <a href="#" rel="external" target="_blank"><img src="/assets/instagram.png" alt="Instagram" width="50" /></a>
      </li>
    </ul>
  </nav>

    <small id="copyright">
    <em>Copyright Liga Chivilcoyana de Futbol @2024. Todos los derechos reservados.</em>
  </small>
</footer>