<footer class="footer">
    <div class="navegation">
        <p class="footerContenedorImagen"><img src="../assets/logo_200x200_positivo.png" alt="Logo Liga Chivilcoyana de Futbol"></p>
        <nav class="contacto">
            <ul>
                <li><a href="./contacto">Contacto</a></li>
            </ul>
            <ul>
                <li><a href="./sobre-nosotros">Sobre Nosotros</a></li>
            </ul>
            <ul>
                <li id="instagram">
                  <a href="https://www.instagram.com/ligachivilcoyanaoficial" rel="external" target="_blank"><img src="/assets/instagram.png" alt="Instagram" width="50" /></a>
                </li>
            </ul>
        </nav>
    </div>

    <small id="copyright">
    <em>Copyright Liga Chivilcoyana de Futbol @2024. Todos los derechos reservados.</em>
  </small>
</footer>