<header class="header">
    <h1 class="headerTitulo"><a href="../"><img class="headerLogo" src="../assets/liga_chivilcoyana_de_futbol.jpg" alt="Logo Liga Chivilcoyana de Futbol"></a></h1>
    <nav class="headerNavegacion">
        <ul class="listaDesplegable">
            <li><a href="./tabla">Tabla</a></li>
            <li><a href="./noticias">Noticias</a></li>
            <li><a href="./partidos">Partidos</a></li>
            <li><a href="./listaEquipos">Equipos</a></li>
            <li><a href="./reglamento">Reglamento</a></li>
            <li><a href="./login">Ingresar</a></li>
        </ul>
    </nav>
</header>